<div id="wrapper" style="display: flex; justify-content: center; align-items: center ;" >
    <div class="search-box">
        <form method="GET" action="/books">
            <input type="text" name="search" placeholder="검색어입력후 ENTER" class="search" autofocus> 
        </form>
    </div>
</div>
