<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
			<a href="/users/login">로그인</a>
			<a href="/users/game_list">게임목록</a>
			<a href="/users/room_list">게임목록</a>
  </body>
</html>
