<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<title>ROOM INSERT</title>
</head>
<body>
	<section class="login-form">
		<h1>방생성</h1>
		<form action="" enctype="multipart/form-data">
			<div class="int-area">
				<input type="text" name="id" id="id" autocomplete="off" required>
				<label for="id">방이름</label>
			</div>
			<div class="int-area">
				<input type="password" name="pw" id="pw" autocomplete="off" required>
				<label for="pw"></label>
            </div>
			<div class="btn-area">
				<button id="btn" type="submit">방생성</button>
			</div>
		</form>
	</section>
</body>