<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<title>Login</title>
	<link rel="stylesheet" href="/stylesheets/style.css">
	<script src="jquery-3.4.1.js"></script>
</head>
<body>
	<section class="login-form">
		<div class="caption">
			<a href="card.ejs">카드 등록</a>
		</div>
		<div class="caption">
			<a href="addr.ejs">주소 등록</a>
		</div>
	</section>

</body>
</html>